- current_route_path = request.fullpath.match(/-\/tree\/[^\/]+\/(.+$)/).to_a[1]
- add_page_startup_graphql_call('repository/path_last_commit', { projectPath: @project.full_path, ref: current_ref, path: current_route_path || "" })
- @content_class = "limit-container-width" unless fluid_layout
- @skip_current_level_breadcrumb = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, project_path(@project, rss_url_options), title: "#{@project.name} activity")

= content_for :invite_members_sidebar do
  = render partial: 'projects/invite_members_link'

= render partial: 'flash_messages', locals: { project: @project }

= render "projects/last_push"

= render "home_panel"

- if can?(current_user, :download_code, @project) && @project.repository_languages.present?
  = repository_languages_bar(@project.repository_languages)

= render "archived_notice", project: @project
= render_if_exists "projects/marked_for_deletion_notice", project: @project
= render_if_exists "projects/ancestor_group_marked_for_deletion_notice", project: @project

- view_path = @project.default_view

- if show_auto_devops_callout?(@project)
  = render 'shared/auto_devops_callout'

%div{ class: project_child_container_class(view_path) }
  = render view_path, is_project_overview: true
